{% extends 'bulletin_board/base.html' %}
{% load static %}

{% block content %}
    <div>
        <h1>Объявления</h1>
        <h2>Рубрика: {{ current_rubric.name }}</h2>
    </div>

    {% for bb in bbs %}
        <div>
            <h2>{{ bb.title }}</h2>
            <p>Подробности: {{ bb.content }}</p>
            <p>Цена: {{ bb.price }} руб.</p>
            <p>Опубликовано: {{ bb.published|date:'d.m.Y H:i:s' }}</p>
            <p>______________</p>
        </div>
    {% endfor %}

{% endblock %}