{% extends 'bulletin_board/base.html' %}
{% load static %}

{% block content %}

    <h1>Объявления</h1>

    {% for bb in bbs %}
        <div>
            <h2>{{ bb.title }}</h2>
            <p>Подробности: {{ bb.content }}</p>
            <p>Цена: {{ bb.price }} руб.</p>
            <p>Опубликовано: {{ bb.published|date:'d.m.Y H:i:s' }}</p>
            <p>Рубрика: <a href="{% url 'bboard:by_rubric' bb.rubric.slug %}">{{ bb.rubric.name }}</a></p>
            <p>______________</p>
        </div>
    {% endfor %}
{% endblock %}